{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block meta_title %}
    {{ theyoutuber.title }} YouTube Channel
{% endblock %}

{% block title %}
    YouTube channel for {{ theyoutuber.title }}
{% endblock %}

{% block extra_breadcrumb %}
<li><a href="/youtube-stats/">YouTube Statistics</a><span class="divider">/</span></li>
<li class="active">{{ theyoutuber.title }} </li>
{% endblock %}

{% block main %}
{#{% trans "I is the youtuber detail page." %}#}
{#<h2>{{ theyoutuber.title }} at a glance</h2>#}
 <ul>
     <li>Channel Subscribers: {{ theyoutuber.youtube_subscribers|intcomma }}</li>
     <li>Channel Views for All Videos: {{ theyoutuber.youtube_total_uploaded_views|intcomma }}</li>
     <li>Facebook Likes: {{ theyoutuber.facebook_likes|intcomma }}</li>
     <li>Twitter Followers: {{ theyoutuber.twitter_followers|intcomma }}</li>
 </ul>

{% endblock %}