{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load tz %}


{% block meta_title %}
    {{ theyoutuber.title }} YouTube Channel
{% endblock %}

{% block title %}
    YouTube channel for {{ theyoutuber.title }}
{% endblock %}

{% block extra_breadcrumb %}
<li><a href="/youtube-stats/">YouTube Statistics</a><span class="divider">/</span></li>
<li class="active">{{ theyoutuber.title }} </li>
{% endblock %}

{% block main %}

<h3>{{ theyoutuber.title }}'s stats at a glance as of {{ theyoutuber.publish_date|timezone:"America/Los_Angeles" }} PST</h3>
 <ul>
     <li>Channel Subscribers: {{ theyoutuber.youtube_subscribers|intcomma }}</li>
     <li>Total Views (All Videos): {{ theyoutuber.youtube_total_uploaded_views|intcomma }}</li>
     <li>Facebook Likes: {{ theyoutuber.facebook_likes|intcomma }}</li>
     <li>Twitter Followers: {{ theyoutuber.twitter_followers|intcomma }}</li>
 </ul>

{#{% if stats.channel_history %}#}
<h3>One month history for {{ theyoutuber.title }}'s channel</h3>
 <table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total Subscribers</th>
            <th>Total Views</th>
            <th>Total Facebook Likes</th>
            <th>Total Twitter Followers</th>
        </tr>
    </thead>
    <tbody>
    {% for stats in channel_history %}
        <tr>
            <td>{{ stats.archive_date|date:"M d Y" }}</td>
            <td>{{ stats.youtube_subscribers|intcomma }}</td>
            <td>{{ stats.youtube_total_uploaded_views|intcomma }}</td>
            <td>{% if stats.facebook_likes %}{{ stats.facebook_likes|intcomma }}{% else %}N/A{% endif %}</td>
            <td>{% if stats.twitter_followers %}{{ stats.twitter_followers|intcomma }}{% else %}N/A{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{#{% endif %}#}
    
{% endblock %}