{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block meta_title %}
    YouTube Stats
{% endblock %}

{% block title %}
    YouTube Statistics
{% endblock %}

{% block extra_breadcrumb %}
<li class="active">{% trans "YouTube Statistics" %}</li>
{% endblock %}

{% block main %}
{% trans "Listed below are links to the most recent statistics for today's top YouTubers. Facebook, Twitter and YouTube Stats are pulled twice daily." %}
<ul>
<li><a href="/youtube-top-10-subscribed-channels/">Top 10 Most Subscribed Channels</a></li>
<li><a href="/youtube-top-50-subscribed-channels/">Top 50 Most Subscribed Channels</a></li>
<li><a href="/youtube-top-100-subscribed-channels/">Top 100 Most Subscribed Channels</a></li>
</ul>

{% endblock %}