{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block meta_title %}
    YouTube Top 50 Most Subscribed Channel Stats
{% endblock %}

{% block title %}
{#    YouTube Top 50 Most Subscribed Channel Stats#}
{% endblock %}

{% block extra_breadcrumb %}
<li><a href="/youtube-stats/">YouTube Statistics</a><span class="divider">/</span></li>
<li class="active">{% trans "Top Fifty Most Subscribed YouTube Channels" %}</li>
{% endblock %}

{% block main %}
{#{% trans "This is the top ten page baby." %}#}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>YouTube Channel</th>
            <th>Total Subscribers</th>
            <th>Total Views</th>
            <th>Total Facebook Likes</th>
            <th>Total Twitter Followers</th>
        </tr>
    </thead>
    <tbody>
    {% for youtuber in top_fifty_subs %}
        <tr>
            <td>{{ forloop.counter }}: </td>
            <td><a href="{{ youtuber.get_absolute_url }}">{{ youtuber.title }}</a></td>
            <td>{{ youtuber.youtube_subscribers|intcomma }}</td>
            <td>{{ youtuber.youtube_total_uploaded_views|intcomma }}</td>
            <td>{% if youtuber.facebook_likes %}{{ youtuber.facebook_likes|intcomma }}{% else %}N/A{% endif %}</td>
            <td>{% if youtuber.twitter_followers %}{{ youtuber.twitter_followers|intcomma }}{% else %}N/A{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}