{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load tz %}


{% block meta_title %}
    YouTube Movies | Top 50 Most Popular Free Movies
{% endblock %}

{% block title %}
{#    Top 50 Most Popular Free Movies #}
{% endblock %}

{% block extra_breadcrumb %}
<li><a href="/youtube-stats/">YouTube Statistics</a><span class="divider">/</span></li>
<li class="active">{% trans "Top 50 Most Popular Free Full Length Movies" %}</li>
{% endblock %}

{% block main %}


<div id="movie-list">
<h3>{% trans "YouTube Movies - Top 50 Most Popular Free Full Length Movies" %}</h3>
{% for m in top_free_movies %}
<h4>{{ forloop.counter }}: {{ m.movie_title }}</h4>
<img src="{{ m.movie_thumbmail_url }}" alt="{{ m.movie_title }}" />
<p>
<strong><em>{{ m.movie_title }}</em></strong> has a YouTube user rating of <strong>{{ m.voter_rated }}</strong>. It has been rated by <strong>{{ m.number_of_voters|intcomma }}</strong> voters, has been viewed <strong>{{ m.view_count|intcomma }}</strong> times, and there are <strong>{{ m.comment_count|intcomma }}</strong> comments.

<span class="movie-watch-links">
{#<a href="">Watch here</a> |#}
<a href="{{ m.movie_youtube_url }}" target="_blank">Watch on YouTube</a>
</span>
</p>

{% endfor %}
</div>
{% endblock %}